html {
    padding: 0;
    margin: 0;
    background-color: slategrey;
    font-family: sans-serif;
    font-weight: lighter;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    width: 400px;
    height: 100vh;
    left: calc((100vw - 400px) / 2);
    position: absolute;
}

h2, h3, h4 {
    font-weight: 200;
}

.card {
    position: relative;
    margin: 1rem 0 1rem 0;
    background: whitesmoke;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);
}

.card .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card .subtitile {
    font-size: 1rem;
    font-weight: bold;
}

.card .subcard {
    padding: 0.5rem 0 0.5rem 0;
}

.card .btn {
    padding: 0.5rem 1rem;
    /*background: darkturquoise;*/
    border-radius: 5px;
    width: auto;
    margin: 0.25rem 0.5rem 0.25rem 0rem;
    display: inline-block;
    border: 1px solid rgba(100,100,100, 1);
}

.card .btn-edge {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
}

.hdd {
    border-radius: 5px;
    border: 1px solid rgba(100,100,100, 1);
    padding: 0.25rem 0.5rem;
    margin-bottom: 0.5rem;
}

.hdd.sync {
    border: 1px solid darkred;
}

.hdd .serial {
    padding: 0.3rem 0 0.3rem 0rem;
    font-size: 0.7rem;
    font-weight: bold;
}

.hdd .name {
    padding: 0 0 0.3rem 0.25rem;
}

.hdd-popup {
    width: 100vw;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.3);

    display: none;
}

.hdd-popup .card {
    width: 400px;
}

.hdd-popup .partitions {
    position: relative;
}

.hdd-popup .partitions .partition {
    position: relative;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(100,100,100, 1);
}

.hdd-popup .partitions .title {
    margin-bottom: 0.5rem;
}

.hdd-popup .partitions .free {
    margin-bottom: 0.5rem;
}

.hdd-popup .partitions input {
    width: 90%;
}

.prog-popup {
    /*display: flex;*/
    width: 100vw;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.3);

    display: none;
}

.prog-popup .card {
    width: 400px;
}

.blur {
    filter: blur(2px);
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: calc(100vw - 2rem);
        left: 1rem;
    }

    .hdd-popup .card {
        width: calc(100vw - 2rem);
    }
}